<header>
  <div class="container">
    <a routerLink="/" class="logo">Builder Paradise</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/login">Login</a></li>
        <li><a href="#" routerLink="/popular-parts">Popular Parts</a></li>
        <li><a href="#" routerLink="/search">Search Parts</a></li>
        <li><a href="#" routerLink="/user-builds">Your Builds</a></li>
        <li><a href="#" routerLink="/create-build">Create Build</a></li>
        <li><a href="#" routerLink="/favourite-parts">Favourite Parts</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>