<h1>Create Account</h1>
<form [formGroup]="form">
    <fieldset>
        <div class="form-field">
            <label>Username:</label>
            <input name="username" formControlName="username">
        </div>
        <div class="form-field">
            <label>Email:</label>
            <input name="email" formControlName="email">
        </div>
        <div class="form-field">
            <label>Password:</label>
            <input name="password" formControlName="password" type="password">
        </div>
    </fieldset>
    <div class="form-buttons">
        <button class="button button-primary" (click)="createAccount()">Register</button>
    </div>
</form>

<div *ngIf="message">
    {{message.error}}
</div>